{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="content">
    <div class="d-flex justify-content-center flex-column mt-5">
        <h1 class="text-center title">Voltaire's Library</h1>
        

            <img src="/img/logo.png" width="300" style="display: block; margin:auto" alt="">
        
    </div> 
</div>
{% endblock %}
