{# Dialog Box Confirm Delete #}
<div class="myModal">

    <div class="confirm rounded">
        <div class="p-2">
            <h1 class="title" =>Do you really want to delete this item?</h1>
        </div>
        <div class="p-2">
            There is no undo for this operation.
        </div>
        <div class="p-3 rounded d-flex justify-content-end" style="background: #F1F5F9;">
            <a href="" class="close btn btn-dark btn-sm mx-1 cancel">Cancel</a>
            <a href="" class="btn btn-danger btn-sm confirm-delete">Yes</a>
        </div>
        
    </div>
</div>

